*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    background-color: #151515;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    align-items: center;
}

.cabecalho.lista{
    display: inline-block;
}

.cabecalho.itens{
    display: inline-block;
    margin: 0 16px;
}


.castle-imagem{
    width: 25%;
    padding: 0 24px;
}

.descricao{
    background-image: linear-gradient(#151515, #46b6c5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.div01{
    width: 40%;
}

.titulo01{
    width: 240px;
}

.titulo02{
    padding: 24px 0;
}

.titulo03{
    padding: 12px 0;
}

.personagens{
    padding: 24px 0;
}

.imagem-personagem{
    width: 120px;
    padding: 24px 0;
}

.personagem-div{
    text-align: center;
}

.titulo04{
    text-align: center;
    padding: 50px 0;
}

.todos-personagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-img{
    width: 160px;
    height: 80px;
    padding: 12px 0;
}